/*csslint order-alphabetical: false, box-model: false*/
main
{
    background-color: lightblue;
/*    tudjuk, hogy a padding megnöveli az elem szélességét*/
    padding: 30px;
    width: 900px;
    margin: 0 auto;
/*    Ha csak kettő értéket kap a margin, akkor az első érték alul-felül, a második érték, pedig jobbra-balra*/
/*    a margin 0 auto, fix és adott szélesség esetén középre igazítja az adott elemet*/
}
footer
{
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 10px;
    height: 25px;
}
h1
{
    font-size: 40px;
}
.main-menu-container
{
    background-color: lightblue;
/*    inline elemek esetén, a text-align: center igazít középre*/
    text-align: center;
    margin-bottom: 40px;
}
.main-menu
{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.main-menu-item
{
/*    itt állítjuk át a list item típusát blokk szitűről inline-ra*/
    display: inline-block;
    padding: 20px 10px;
    background-color: cornflowerblue;
    color: white;
/*    animáció hozzáadása*/
    transition: background-color .5s ease-in-out;
}
.main-menu-item:hover
{
    background-color: red;
}
.submenu
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.submenu-item
{
    padding: 20px 10px;
}