/*csslint fallback-colors: false, order-alphabetical: false, box-model: false*/
body
{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header-container
{
    /* 100% lesz a szélessége: */
    background-size: 100%;
    position: relative;
    /* ennek az elemnek a magassága a böngésző szélességének 40%-a (verticalWidth) */
    height: 20vw;
    background: url(./banner.jpg);
}
header
{
    width: 70%;
    font-weight: 300;
}
.menu-container
{
    color: white;
}
.menu
{
    list-style: none;
    margin: 0;
}
.menu-item
{
    border-left: 5px solid rgba(129, 225, 225, 0.63);
    background-color: rgba(63, 117, 134, 0.3);
    position: relative;
    width: 120px;
    text-align: center;
    padding: 20px;
    left: 200px;
}
.menu-item:hover
{
    background-color: #4cc3c3;
    padding: 25px;
    transition: all 0.2s ease-in-out;
}
.company-intro
{
    width: 50%;
    background-color: rgba(40, 70, 66, 0.4);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.65);
    position: absolute;
    right: 10vw;
    top: 50px;
    padding: 20px;
    color: white;
}
.main-container
{
    width: 50%;
    margin: 25px auto;
}
.company-image
{
    float: right;
    
}
.lead
{
    font-weight: bold;
}
footer
{
    text-align: center;
    color: white;
    background-color: #13302E;
    padding: 25px 0 25px 0;
}